/* General Styles */
body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container-fluid {
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Navbar Styles */

.breadcrumb {
            background-color: transparent;
            padding: 0;
            margin: 0; /* Adjust margin as needed */
            font-size: 14px; /* Adjust font size as needed */
        }
        .breadcrumb-item + .breadcrumb-item::before {
            content: ">";
            color: #6c757d;
            padding: 0 5px;
        }
        .breadcrumb-item a {
            color: #007bff;
            text-decoration: none;
			margin-bottom:5px;
        }
        .breadcrumb-item a:hover {
            text-decoration: underline;
        }
        .breadcrumb-item.active {
            color: #6c757d;
        }


.navbar-brand-name {
        font-family: Poppins, sans-serif;
        margin-left: 10px;
		font-weight:bold;
    }
	
	
#header {
    width: 100%;
    background-color: #F2D9A6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

#languageDropdown:hover {
    background-color: #CEAA61;
}

.navbar {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar-brand {
    margin-right: 0;
    padding-left: 15px;
    display: flex;
    align-items: center;
}

.navbar-brand img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.navbar-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navbar-nav .nav-item {
    margin-left: 5px;
}

.navbar-nav .nav-link {
    color: black;
    font-weight: bold;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    padding: 5px 6px;
    border-radius: 5px;
}

.navbar-nav .nav-link:hover {
    color: black;
    background-color: #CEAA61;
}

.dropdown .nav-link {
    color: black;
    background-color: #F2D9A6;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    padding: 0px;
    margin-right: 5px;
}

.dropdownj {
    margin-right: 0;
}

.dropdown-menu {
    min-width: 100px;
    background-color: #F2D9A6;
}

.dropdown-item {
    background-color: #F2D9A6;
}

.dropdown-item:hover {
    background-color: #CEAA61;
}

.dropdown-submenu:hover {
    background-color: #CEAA61;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
    background-color: #F2D9A6;
}

.dropdown-submenu > a::after {
    content: " ▸";
    float: right;
    margin-left: 5px;
}

.dropdown-submenu:hover > a::after {
    content: " ▾";
}

.dropdown-menu > .dropdown-submenu > a::after {
    display: none;
}

.dropdown-menu > .dropdown-submenu:hover > .dropdown-menu {
    display: block;
    background-color: #F2D9A6;
}

.navbar-brand img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

#header {
    border-bottom: 1px solid #eaeaea;
}

@media (max-width: 767px) {
    .dropdown-menu-end {
        left: auto !important;
        right: 0 !important;
    }
    .dropdown-submenu > .dropdown-menu {
        left: auto !important;
        right: 100% !important;
    }
}

@media (min-width: 768px) {
    .dropdown-menu-end {
        right: auto !important;
        left: -50px !important;
    }
}

.navbar-nav .nav-item:nth-child(2) .nav-link {
    background-color: #DD9A14;
	color:white;	/* Change this to your desired color */
}

.navbar-nav .nav-item:nth-child(2) .nav-link:hover {
    background-color: #CEAA61;
	color:black;	/* Change this to your desired color */
}

/* Main Content */
.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../slike/galerija_slika9.jpg');
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    width: 100%;
    height: auto;
    min-height: 60vh;
	object-fit:contain;
}

h1 {
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 36px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 4px 4px 8px #000000, 4px 4px 8px #000000, 4px 4px 8px #000000;
}

.lead {
    font-family: Poppins, sans-serif;
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 4px 4px 8px #000000, 4px 4px 8px #000000, 4px 4px 8px #000000, 4px 4px 8px #000000, 4px 4px 8px #000000, 4px 4px 8px #000000;
    line-height: 1.6;
}

.container.text-center hr {
    border: none;
    size: 10;
    margin: 20px auto;
    color: white;
    background-color: white;
    text-shadow: 3px 3px 3px #000000;
    opacity: 1.0;
    width: 300px;
    height: 300px;
}


/* Videos Section */
.container.videos {
    text-align: center;
    padding: 40px 0;
}

.container.videos h2 {
    font-family: 'Georgia', serif;
    font-size: 40px;
    margin-bottom: 40px;
	font-weight:bold;
}

.container.videos video {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    width: 100%;
    height: 350px;
}

/* Footer Styles */
footer {
    overflow: auto;
    background-color: #F2D9A6;
    width: 100%;
    text-align: center;
    font-weight: bold;
    border-top: 1px solid #eaeaea;
}

footer .containerf {
    background-color: inherit;
    padding: 0;
}

footer p {
    background-color: #F2D9A6;
    margin: 0;
    font-size: 18px;
}

/*karausel*/

.carousel .carousel-item {
    height: 60vh; /* Adjust height to make images smaller */
}

.carousel .carousel-item img {
    object-fit: contain; /* Ensure images are not cropped and maintain their aspect ratio */
    height: 100%;
    width: min-content; /* Maintain aspect ratio */
    max-height: 100%; /* Ensure the image does not exceed the container height */
    margin: 0 auto; /* Center the image */
}

.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Darken the background color on hover */
    transform: scale(1.1); /* Slightly increase size on hover for better visibility */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition */
}

.carousel-control-prev, .carousel-control-next {
    width: 5%; /* Reduce width to bring buttons closer */
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background for better visibility */
    padding: 10px; /* Increase padding for a more prominent look */
    border-radius: 50%; /* Make the icons round */
}

.carousel.slide.container.gallery h2{
	text-align: center;
	font-family: Poppins, sans-serif;
    font-size: 40px;
	color:black;
    margin-bottom: 10px;
	font-weight:bold;
}

.carousel.slide.container.gallery hr{
	margin:auto;
	color:black;
	height:4px;
	opacity:1;
	width:200px;
    margin-bottom: 10px;
	font-weight:bold;
}

.carousel.slide.container.gallery h3{
	text-align: center;
	font-family: Poppins, sans-serif;
    font-size: 25px;
	color:black;
    margin-bottom: 10px;
	font-weight:bold;
}

.container.gallery{
	justify-content: center;
}

.main-content.row{
	margin-bottom:20px;
}

.carousel-inner{
	margin-bottom:40px;
}
